.button {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
  padding: 7px 20px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  transition: 0.1s linear;
  background: var(--accent-color);
  border: 2px solid var(--accent-color);
  color: var(--inside-accent-color);

  &:not(:disabled):hover {
    background: var(--accent-color-active);
    border: 2px solid var(--accent-color-active);
  }
  &:global(.secondary) {
    background: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    &:not(:disabled):hover {
      background:  var(--secondary-color-active);
      border-color: var(--secondary-color-active);
    }
  }
  &:global(.red) {
    background: var(--danger-color);
    border: 2px solid var(--danger-color);
    &:not(:disabled):hover {
      background: var(--danger-color-active);
      border: 2px solid var(--danger-color-active);
    }
  }
  &:global(.outlined) {
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
    background: transparent;
    &:not(:disabled):hover {
      background: var(--accent-color-opacity);
      border: 2px solid var(--accent-color);
    }
    &:global(.filled):not(:disabled):hover {
      color: var(--inside-accent-color);
      background: var(--accent-color);
      border: 2px solid var(--accent-color);
    }
    &:global(.red) {
      border: 2px solid var(--danger-color);
      color: var(--danger-color-active);
      &:not(:disabled):hover {
        background: var(--danger-color-active-opacity);
        border: 2px solid var(--danger-color);
      }
      &:global(.filled):not(:disabled):hover {
        color: var(--inside-accent-color);
        background: var(--danger-color-active);
      }
    }
    &:global(.secondary) {
      color: var(--secondary-color);
      background: transparent;
      border: 2px solid var(--secondary-color);
      &:not(:disabled):hover {
        color: #5e5d65;
        border-color: #5e5d65;
      }
      &:global(.filled):not(:disabled):hover {
        color: var(--inside-accent-color);
        background: var(--secondary-color);
      }
    }
  }
  &:global(.less-radius) {
    border-radius: 6px;
  }
  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
    user-select: none;
  }
  &:not(:disabled):active {
    transform: scale(0.95);
  }

  @media (max-width: 768px) {
    cursor: default;
  }
}
