@use "../../../styles/mixins";

.inputContainer {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  display: flex;
  position: relative;
  width: 100%;
  .placeholder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: calc(14px * var(--text-scale));
    pointer-events: none;
    transition: all 0.2s ease;
    left: 11px;
    color: var(--text-b);
    max-height: 20px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  input:not([value=""]) ~ .placeholder,
  input:focus ~ .placeholder{
    display: none;
  }
  input:not([value=""]) ~ .placeholder:global(.toLabel),
  input:focus ~ .placeholder:global(.toLabel) {
    display: block;
    transform: translateY(-130%);
    font-size: 11px;
    font-weight: 600;
  }

  i ~ .placeholder {
    left: 41px;
  }
  input {
    width: 100%;
  }
  i {
    position: absolute;
    top: calc(50% + 10px);
    transform: translateY(calc(-50% - 10px));
    left: 0;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(13px * var(--text-scale));
    color: #686868;
    pointer-events: none;
  }
  input:focus ~ i {
    color: var(--accent-color);
  }
}

.inputStyled {
  @include mixins.inputStyle;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.inputPassStyled {
  @include mixins.inputStyle;
  padding-right: 35px;
}

.inputStyled, .inputPassStyled {
  &:global(.danger) {
     &~.placeholder{
      color: var(--danger-color-active);
     }
  }
  &:disabled {
    opacity: .6;
    cursor: not-allowed;
  }
}

.show-password-button {
  position: absolute;
  display: flex;
  align-items: center;
  right: 0;
  width: 35px;
  justify-content: center;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border-radius: 10px;
  background: transparent;
  border: none;
  outline-color: var(--accent-color);

  &:focus-visible {
    box-shadow: 0 0 0 0.2rem rgba(45, 143, 65, 0.308);
  }
  &::after {
    all: unset;
    content: "\f06e";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: calc(13px * var(--text-scale));
    position: relative;
    color: var(--accent-color);
    height: 14px;
    transition: color 0.2s ease;
  }
  &:global(.active)::after {
    content: "\f070";
    color: var(--accent-color-active);
  }
}

