.pill-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.pill-item {
  max-width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background: var(--secondary-bg);
  border-radius: 50px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
  border: 1px solid rgb(0 0 0 / 3%);
  // overflow: hidden;
  // text-overflow: ellipsis;
  // white-space: nowrap;
  font-size: calc(15px * var(--text-scale));
  gap: 5px;
  color: var(--text-a);

  i {
    width: 20px;
    line-height: 25px;
    text-align: center;
    color: var(--text-b);
  }

  // span {
  //   overflow: hidden;
  //   text-overflow: ellipsis;
  //   white-space: initial;
  // }
}
