.notification-container {
  margin-top: 20px;
  :global {
    .notification-cards {
      overflow: auto;
      border-radius: 10px;
      padding-right: 5px;
    }

    .notification-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 20px 5px;
    }

    .notification-header .buttons button {
      background: var(--secondary-bg);
      padding: 5px 15px;
      border: 1px solid var(--outline-color);
      border-right: none;
      float: left;
      cursor: pointer;
      color: var(--text-b);
    }

    .notification-header .buttons button.active {
      background: var(--primary-bg);
      color: var(--text-a);
    }

    .notification-header .buttons button:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    .notification-header .buttons button:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-right: 1px solid var(--outline-color);
    }

    .notification-header .buttons button:hover + button {
      border-left-color: rgb(172, 172, 172);
    }

    .notification-header .buttons button:hover {
      color: var(--text-a);
      border-color: rgb(172, 172, 172);
    }

    .notification-card {
      box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
      border: none;
      background-color: var(--primary-bg);
      margin-bottom: 1px;
      display: flex;
      flex-direction: column;
      position: relative;
      border-right: 1px solid var(--outline-color);
      border-left: 1px solid var(--outline-color);
      display: none;
      max-height: 300px;
      transition: max-height 0.3s ease-in-out;
      overflow: hidden;
      .notification-content {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        position: relative;
        z-index: 2;
        background-color: var(--primary-bg);
        transition: transform 0.2s ease-in-out;
        border-radius: inherit;
      }

      &:first-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-top: 1px solid var(--outline-color);
      }
      &:last-child {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom: 1px solid var(--outline-color);
      }

      .message {
        position: relative;
        height: 100%;
        user-select: none;
        p {
          user-select: none;
          word-break: break-all;
          font-size: 15px;
          color: var(--text-b);
        }
      }
      .card-date {
        color: rgb(122, 122, 122);
        font-size: 13px;
        font-weight: 500;
        padding-top: 20px;
      }
      .card-options {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        width: 60px;
        height: 100%;
        opacity: 1;
        transition: 0.1s linear;
        border-top-right-radius: inherit;
        border-bottom-right-radius: inherit;
        z-index: 1;
        background: var(--secondary-bg);
        overflow: hidden;

        .btn-markasread {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 70%;
          width: 70%;
          border: none;
          background-color: transparent;
          cursor: pointer;
          i {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            width: 35px;
            height: 35px;
            border: 1px solid var(--outline-color);
            background-color: var(--primary-bg);
            color: var(--text-b);
          }

          position: relative;
          &:hover i {
            color: var(--accent-color);
          }
          span {
            color: var(--text-b);
            font-size: 10px;
            max-width: 100%;
            word-wrap: break-word;
          }
        }
      }
      &[data-read="true"] {
        .card-options {
          opacity: 1;
          z-index: 3;
          background: transparent;
          .btn-markasread {
            pointer-events: none;
            i {
              border-color: transparent;
              background-color: transparent;
            }
            span {
              display: none;
            }
          }
        }
      }
      & .notification-content:hover {
        background-color: var(--secondary-bg);
      }

      &.collapse .notification-content {
        transform: translateX(-60px);
      }
    }
    .show {
      display: flex;
      max-height: 300px;
    }
    .hide {
      max-height: 0;
      animation: slide-left-out 0.3s ease-out;
    }
    .no-notifications {
      padding: 20px;
      box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
      background-color: var(--primary-bg);
      border-radius: 10px;
      cursor: default;
      &:hover {
        background-color: var(--primary-bg);
      }
    }
    @media (min-width: 766px) {
      .notification-cards::-webkit-scrollbar {
        width: 16px;
      }

      .notification-cards::-webkit-scrollbar-thumb {
        background-color: #a3a3a3d5;
        border-radius: 20px;
        -webkit-background-clip: content-box;
        background-clip: content-box;
        border: 6px solid transparent;
        min-height: 10px;
      }

      .notification-cards::-webkit-scrollbar-thumb:hover {
        background-color: #838383d5;
        border-width: 4px;
      }
      .notification-cards::-webkit-scrollbar-thumb:active {
        background-color: #707070d5;
        border-width: 4px;
      }
    }
  }
}
