@mixin inputStyle() {
  font-family: var(--font-roboto), sans-serif;
  font-size: calc(14px * var(--text-scale));
  border: 1px solid var(--outline-color);
  border-radius: 5px;
  padding: 10px 8px;
  outline: 0;
  box-shadow: 0 0 0 0 rgba(45, 143, 65, 0.308);
  transition: box-shadow 0.4s, border 0.2s, background-color 0.2s linear;
  color: var(--text-a);
  background-color: #ffffff1a;
  &:focus {
    border-color: var(--accent-color);
    box-shadow: 0 0 0 0.2rem rgba(45, 143, 65, 0.308);
  }
  &:global(.danger) {
    border-color: var(--danger-color-active);
    &:focus {
      box-shadow: 0 0 0 0.2rem var(--danger-color-opacity);
    }
  }
}

@mixin gap-x {
    @for $i from 1 to 10  {
        .gap-#{$i} {
           gap: 0.25rem * $i;
        }
    }
}
